.popup__close {
    width: 32px;
    height: 32px;
    border: 0;
    position: absolute;
    top: -38px;
    right: -38px;
    padding: 0;
    background: transparent url("../../../image/close.svg");
  }
  
  .popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .popup__close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 1px;
      background: transparent url("../../../image/close.svg");
    }
  }